.results-container
  preloader(ng-show='!vm.pageLoaded')
  .row.results(ng-if='vm.pageLoaded')
    .query_results(ng-class="{'col-md-8 col-sm-6': vm.selected, 'col-md-12 col-sm-12': !vm.selected}")
      .head(ng-if='vm.questions.length < vm.settings.total')
        .form-inline
          .form-group
            label(for='sorting') Sort by:
            select.form-control.input-sm(
              id='sorting' 
              ng-model='vm.settings.sort'
              ng-options='sort for sort in vm.sorts'
              ng-change='vm.updateSettings()'
            )
          .form-group
            label(for='ordering') Order by:
            select.form-control.input-sm(
              id='soorderingrting' 
              ng-model='vm.settings.order'
              ng-options='order for order in vm.orders'
              ng-change='vm.updateSettings()'
            )
        .text-center
          uib-pagination.pagination-sm(
            boundary-links='vm.settings.boundaryLinks'
            total-items='vm.settings.total'
            ng-model='vm.settings.page'
            items-per-page='vm.settings.pagesize'
            previous-text='‹'
            next-text='›'
            first-text='«'
            last-text='»'
            ng-change='vm.loadResults()'
            max-size='vm.settings.maxSize'
          )
      .table-responsive
        table.table.table-hover
          thead
            tr
              th Author
              th Topic
              th Answers
          tbody
            tr(ng-repeat='question in vm.questions').fx-fade-normal.fx-speed-500.fx-ease-none
              td
                a(href='', ng-click='vm.queryPopularQuestions("user", question.owner)')
                  | {{::question.owner.display_name}}
              td
                a(ui-sref='question({id: question.question_id})' title="{{::question.title}}") {{::question.title}}
                .badge.tag(
                  ng-repeat='tag in question.tags' 
                  ng-click='vm.queryPopularQuestions("tag", tag)'
                  ng-class="{'selected': tag == vm.selected.value}"
                )
                  | {{::tag}}
              td.text-center
                a(ui-sref='question({id: question.question_id})') {{::question.answer_count}}
    .col-md-4.col-sm-6.fx-fade-right.fx-dur-300.fx-speed-300.fx-ease-none(ng-if='vm.selected')
      result-details(selected='vm.selected')
