.results-container
  .row.results
    .query_results(ng-class="{'col-md-8 col-sm-6': vm.selected, 'col-md-12 col-sm-12': !vm.selected}")
      .head.text-center
        uib-pagination.pagination-sm(
          boundary-links='vm.pagination.boundaryLinks'
          total-items='vm.pagination.total'
          ng-model='vm.pagination.page'
          items-per-page='vm.pagination.pagesize'
          previous-text='‹'
          next-text='›'
          first-text='«'
          last-text='»'
          ng-change='vm.loadResults()'
          max-size='vm.pagination.maxSize'
        )
      .table-responsive
        table.table.table-hover
          thead
            tr
              th Author
              th Topic
              th Answers
          tbody
            tr(ng-repeat='question in vm.questions').fx-fade-normal.fx-speed-500.fx-ease-none
              td
                a(href='', ng-click='vm.queryPopularQuestions("user", question.owner)')
                  | {{::question.owner.display_name}}
              td
                a(ui-sref='question({id: question.question_id})' title="{{::question.title}}") {{::question.title}}
                .badge.tag(
                  ng-repeat='tag in question.tags' 
                  ng-click='vm.queryPopularQuestions("tag", tag)'
                  ng-class="{'selected': tag == vm.selected.value}"
                )
                  | {{::tag}}
              td.text-center
                a(ui-sref='question({id: question.question_id})') {{::question.answer_count}}
    .col-md-4.col-sm-6.fx-fade-right.fx-dur-300.fx-speed-300.fx-ease-none(ng-if='vm.selected')
      result-details(selected='vm.selected')
